// Theme: light-blue

// Commonly used web colors
$black: #335555;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a;    // Padua
$error-red: #df405a;        // Cerise
$warning-red: #ff5050;      // Sunset Orange
$gold-star: #ca8f04;        // Dark Goldenrod

// Values from the classic Mastodon UI
$classic-base-color: #ddfcfc;
$classic-primary-color: #40c070;
$classic-secondary-color: #33bbff;
$classic-highlight-color: #ff99dd;

// Variables for defaults in UI
$base-shadow-color: $white !default;
$base-overlay-background: $white !default;
$base-border-color: $black !default;
$simple-background-color: $black !default;
$primary-text-color: $black !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;                  // Darkest
$ui-base-lighter-color: darken($ui-base-color, 50%) !default; // Lighter darkest
$ui-primary-color: $classic-primary-color !default;            // Lighter
$ui-secondary-color: $classic-secondary-color !default;        // Lightest
$ui-highlight-color: $classic-highlight-color !default;        // Vibrant

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;
